/* Coolors Exported Palette - https://coolors.co/88292f-335c67-4b644a-fefee3-ffc9b9 */

/* CSS HEX */
--burgundy: #88292fff;
--dark-slate-grey: #335c67ff;
--hunter-green: #4b644aff;
--light-yellow: #fefee3ff;
--powder-blush: #ffc9b9ff;

/* CSS HSL */
--burgundy: hsla(356, 54%, 35%, 1);
--dark-slate-grey: hsla(193, 34%, 30%, 1);
--hunter-green: hsla(118, 15%, 34%, 1);
--light-yellow: hsla(60, 93%, 94%, 1);
--powder-blush: hsla(14, 100%, 86%, 1);

/* SCSS HEX */
$burgundy: #88292fff;
$dark-slate-grey: #335c67ff;
$hunter-green: #4b644aff;
$light-yellow: #fefee3ff;
$powder-blush: #ffc9b9ff;

/* SCSS HSL */
$burgundy: hsla(356, 54%, 35%, 1);
$dark-slate-grey: hsla(193, 34%, 30%, 1);
$hunter-green: hsla(118, 15%, 34%, 1);
$light-yellow: hsla(60, 93%, 94%, 1);
$powder-blush: hsla(14, 100%, 86%, 1);

/* SCSS RGB */
$burgundy: rgba(136, 41, 47, 1);
$dark-slate-grey: rgba(51, 92, 103, 1);
$hunter-green: rgba(75, 100, 74, 1);
$light-yellow: rgba(254, 254, 227, 1);
$powder-blush: rgba(255, 201, 185, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-right: linear-gradient(90deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-bottom: linear-gradient(180deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-left: linear-gradient(270deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-top-right: linear-gradient(45deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-bottom-right: linear-gradient(135deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-top-left: linear-gradient(225deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-bottom-left: linear-gradient(315deg, #88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);
$gradient-radial: radial-gradient(#88292fff, #335c67ff, #4b644aff, #fefee3ff, #ffc9b9ff);